div{
    width: 250px;
    height: 250px;
    background: purple;
    display: inline-block;
    margin: 30px 50px;
    line-height: 250px;
    border: 10px solid orange;
}
.box-1{
    border-radius: 10px;
}
.box-2{
    border-radius: 100px;
}
.box-3{
    border-radius: 250px;
}
.box-4{
    border-radius: 40px 0px 40px 0px;
}
.box-5{
    border-radius: 250px 0px 0px 0px;
}