*{
    margin:0;
    padding:0;
}
body{
    background: #e3ed7e;
}
h1{
    font-family:sans-serif;
    font-weight: normal;
    font-size: 25px;
    letter-spacing: 4px;
    padding: 200px 0 100px;
    color: #555;
    text-align: center;
}
.social-media{
    display: flex;
    justify-content: center;
    height: 75px;
    width: 75px;
    margin: 0 15px;
    boarder-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px -1px rgba(0, 0,0,0.15);
                -6px -6px 10px -1px rgba(255,255,255,0.7);
     border: 1px solid rgba(0,0,0,0.15); 
}
a i{
    font-size: 35px;
    color: #777;
}
a.hover{
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0,0,0.15),
                inset -4px -8px 6px -1px rgba(255,255,255,0.7),
                -4px -8px 6px -1px rgba(255,255,255,0.7),
                -4px -8px 6px -1px rgba(255,255,255,0.7);
     border: 1px solid rgba(0,0,0,0.15); 
     transform: translate(2px);      
}